<ion-header>
  <ion-toolbar>
    <ion-title>chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Grant Gustin plays the Flash on the CW show... The Flash. He definitley portrays the role of Barry Allen/The Flash extremely well. But instead of casting Grant for the part they chose someone more Hollywood fame. So What If Grant Gustin was given the DCEU Flash role? I believe it would have driven in both CW Flash fans and Grant Gustin fans and the Justice League movie maybe have even been a bit better.</p>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <ion-button color="warning" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Chapter</ion-button>
</ion-content>
