<ion-header>
  <ion-toolbar>
    <ion-title>chapter2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Amber Heard's acting in the first Aquaman was superb and Aquaman in itself was a fantastic movie, so why should she be fired? Because of what happened between her and Johnny Depp. Amber Heard was physically abusing Johnny Depp in her marriage and she received no punishments meanwhile Johnny Depp lost his whole career over it. It is injustice. So What If Amber Heard was fired? I believe not as many people would have boycotted or illeagaly downloaded Aquaman 2 if they recasted Amber Heard's character</p>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <ion-button color="danger" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
  <ion-button color="warning" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
</ion-content>
