<ion-header>
  <ion-toolbar>
    <ion-title>toc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter1']">
      {{chapter.title}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter2']">
      {{chapter.title}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="['/chapter3']">
      {{chapter.title}}
    </ion-item>
  </ion-list>
</ion-content>
