<ion-header>
  <ion-toolbar>
    <ion-title>chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Ben Afflack had a history playing Marvel's Super Hero Daredevil. The movie was awful. Some may find it east to blame the directors or the writers, but really Ben Afflack was just a terrible actor. For some reason Warner Bros thought it was a good idea to cast this man as Batman, the most legendary and sacred character of all of DC. Ben Afflack failed miserably. So What If Ben Afflack didn't get casted as Batman. The probabilities of the movies with batman being better most likely would have gone better.</p>
  <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <ion-button color="danger" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>
</ion-content>
